*{    
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body{
    font-family: Arial, sans-serif;
    background-color: #ebebeb;
    text-align: center;
    display: flex;
    flex-direction: column;
}
header{
    background-color: #0060f5;
    color: white;
    padding: 40px 0;
    font-size: 24px;
}

.container{ 
    width: 900px;
    height: 950px;
    background-color: white;
    border-radius: 15px;
    margin: 20px auto;
    padding: 50px;
    text-align: justify;
    display: flex;
    gap: 20px;
    flex-direction: column;
    position: relative;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
}
.paginas{
    background-color: white;
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    display: flex;
    gap: 20px;
    flex-direction: column;
    align-items: center;
    justify-content: space-between; 
    padding: 40px;
    transition: transform 3s, z-index 3s;
    backface-visibility: hidden;
    transform-origin: left;
    transform-style: preserve-3d;
}

.paginas.flipar{
    transform: rotateY(-180deg);
}
#capa h2{
    font-size: xx-large;
}
.container h2, .container h3{
    text-align: center;
}
.botoes{
    display: flex;
    width: 700px;
    justify-content: space-around;
    margin: 0px auto 30px; 
}
.botoes button{
    border-radius: 10px;
    height: 50px;
    width: 250px;
    font-weight: 700;
}
.paginas#pagina2, .paginas#pagina4, .paginas#pagina10, .paginas#pagina15, .paginas#pagina16{
    justify-content: flex-start;
}
.paginas#pagina3{
    justify-content: space-around;
}
.paginas#pagina17{
    justify-content: center;
}
.container ol {
    display: flex;
    gap: 30px;
}
.container .tabelaEquipes ol {
    flex-direction: column;
    align-items: flex-start;
    gap: 0;
    
}
.tabelaEquipes{
    align-self: center;
}
.tabelaEquipes table{
    border-collapse: collapse;
}
.tabelaEquipes h4{
    text-align: center;
}
.tabelaEquipes tr th, .tabelaEquipes tr td{
    text-align: center;
    padding: 20px;
}
.tabelaEquipes th{
    background-color: rgb(0, 0, 131);
    color: #fff;
}
hr{
    width: 300px;   
    margin-top: 8px;
    margin-bottom: 8px;
}
.quadroMetas {
    padding: 40px;
    background-color:   #dbe5f1;
    border: 1px solid;
}
.quadroMetas ul li ul li{
    position: relative;
    margin-left: 25px;
    margin-top: 17px;
    margin-bottom: 17px;
}
.quadroMetas ul li ul li ul li{
    margin-left: 35px;
}

.quadro{ 
    background-color: #edefd5;
    display: flex;
    gap: 20px;
    flex-direction: column;
    padding: 50px;
}
.quadro h2{
    text-align: left;
}
#buttonPagCalculadora{
    height: 55px;
    width: 400px;
    font-size: 17px;
    border-radius: 20px;
}

form div{
    margin-bottom: 20px;
}

#listaObs{
    display: flex;
    flex-direction: column;
    gap: 30px;
    width: 80%;
    align-self: center;
    margin-top: 30px;
}

/* CORES */

.laranja{
    background-color: orange;
}
.azul{
    background-color: rgb(0, 0, 131);
    color: #fff;
}
.preto{
    background-color: black;
    color: white;
}
.roxo{
    background-color: purple;
}
.verde{
    background-color: green;
}
.vermelho{
    background-color: red;
}

/* estilos */

.underline{
    text-decoration: underline;
}

/* TELA DE CALCULADORAS */

body.background-laranja{
    background-color: #773a00;
}
body.background-roxo{
    background-color: #4B0082;
}
body.background-preto{
    background-color: #222222;
}
body.background-verde{
    background-color: #006400;
}
body.background-vermelha{
    background-color: #8B0000;
}
#calculadoras .container{
    height: calc(100vh - 250px);
}   
#calculadoras.background-laranja .container{
    background-color: #ff7d04;
}
#calculadoras.background-verde .container{
    background-color: #32CD32;
}
#calculadoras.background-vermelha .container{
    background-color: #FF4500 ;
}
#calculadoras.background-roxo .container{
    background-color: #8A2BE2;
}
#calculadoras.background-preto .container{
    background-color: #555555;
}

form{
    height: 100%;
}

button.prosseguir{
    position: absolute;
    right: 0;
    bottom: 0;
    margin: 30px;
    height: 50px;
    width: 150px;
    border-radius: 20px;
}
.campos{
    flex-direction: column;
    align-items: center;
    height: 100%;
    gap: 15px;
    justify-content: center;
    position: relative;
    bottom: 40px;
}

.campos label{
    font-size: 40px;
    
}
.campos select{
    height: 50px;
    width: 50%;
}
.campos input{
    height: 50px;
    width: 450px;
    border-radius: 30px;
    font-size: 20px;
    text-align: center;
}
.campos button{
    height: 100px;
    width: 400px;
    font-size: 34px;
    border-radius: 30px;
    transition: all .08s;
}
.campos button:focus{
    height: 80px;
    width: 380px;
    font-size: 34px;
}
.d-none{
    display: none;
}
.d-flex{
    display: flex;
}