* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body {
    font-family: Arial, sans-serif;
    background-color: #ebebeb;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
}
header {
    background-color: #0060f5;
    color: white;
    padding: 40px 0;
    font-size: 24px;
    width: 100%;
}
#titulo-capa-livro {
    font-size: xx-large;
}
.book {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    width: 700px;
    height: 800px;
    margin: 20px auto;
    perspective: 2000px;
}
.page {
    width: 100%;
    height: 100%;
    background: white;
    border-radius: 15px;
    position: absolute;
    top: 0;
    left: 0;
    padding: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    text-align: justify;
    transition: transform 1s, z-index 1s;
    backface-visibility: hidden;
    transform-origin: left;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
    z-index: 0;
}
.page h2, .page h3 {
    text-align: center;
}
.page.flipped {
    transform: rotateY(-180deg);
    z-index: 1;
}
.buttons {
    margin: 20px;
}
.buttons button {
    padding: 10px 20px;
    margin: 0 10px;
    font-size: 18px;
    border-radius: 10px;
    border: none;
    background-color: #0060f5;
    color: white;
    cursor: pointer;
}
.buttons button:hover {
    background-color: #004bb5;
}
